#define kWifiNetwork "MyWiFiName"
#define kWifiPassword "secretpwd"

#define kLEDCount 288
#define kActualLEDCount kLEDCount
#define kPalletteSize 4
#define kInitialEffect 0
#define kBaseSpeed 500
#define kTargetEffectDurationMs 30000

#define DEVICE_ESP8266 0
#define ENABLE_WIFI 0
#define ENABLE_SONAR 0
#define ENABLE_BLUE_TRACE 0
#define ENABLE_EFFECTS 1
#define ENABLE_BUTTONS 1
#define TRACE_FIRST_N_PIXELS 0
#define TRACE_EXECUTION 1
